.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    height: 100%;
}

.form-input{
    width: 90%;

}

.form-button{
    width:90%;
}

.title{
    text-align: center;
    font-size: 50px;
    color: whitesmoke
}

.name{
    color: whitesmoke;
    text-align: center;
}

.page-container{
    height: 100%;
}